$colours: (
	primary: #662d91,
	secondary: #00beac,
	accent: #fa1496,
	success: #00c29e,
	warning:  #ff855a,
	alert: #ec5070,
	light: #e7eaf3,
	dark: #1f1926
);

@function typescale-size($steps: 0, $base-size: 1rem, $ratio: 1.2) {
	@return $base-size * pow($ratio, $steps);
}

$heading-font: "gelica", sans-serif;
$body-font: "solitaire-mvb-pro", sans-serif;
$body-font-light: "solitaire-mvb-pro-light", sans-serif;

$fonts: (
	heading: (
		family: $heading-font,
		weight: 600,
		size: typescale-size(2),
		line-height: 1.3,
	),
	body: (
		family: $body-font-light,
		weight: 300,
		size: typescale-size(0),
		line-height: 1.5,
	),
	accent: (
		family: $heading-font,
		style: italic,
		weight: 500,
		size: typescale-size(1),
		line-height: 1.3,
	)
);

@mixin font($type) {
	$font: map-get($fonts, $type);
	font-weight: map-get($font, weight);
	font-size: map-get($font, size);
	line-height: map-get($font, line-height);
	font-family: map-get($font, family);
	@if map-has-key($font, style) {
		font-style: map-get($font, style);
	}
}

$breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1100px,
	xxl: 1280px
);