* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background: #f7f7f7;
	@include font(body);
}

h1, h2, h3, h4, h5, h6 {
	@include font(heading);
}

h1 {
	font-size: typescale-size(3);
}

h2 {
	font-size: typescale-size(2);
}

h3 {
	font-size: typescale-size(1);
}

h4, h5, h6 {
	font-size: typescale-size(0);
}

blockquote {
	@include font(accent);
}

@each $colour, $value in $colours {
	.theme-#{$colour} {
		background: $value;
		color: color-contrast($value);

		&--inverse {
			background: color-contrast($value);
			color: $value;
		}
	}
}

.page-content {
	@include container;
}